*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    touch-action: none;
}
body {
    overflow: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background: #000;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.drag,
.spin {
    inset-block-start: 70px;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: auto;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform: rotateX(-10deg);
    -webkit-transform: rotateX(-10deg);
    -moz-transform: rotateX(-10deg);
    -ms-transform: rotateX(-10deg);
    -o-transform: rotateX(-10deg);
}
.drag img {
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    position: absolute;
    inset-inline-start: 0;
    inset-block-start: 0;
    inline-size: 100%;
    block-size: 100%;
    line-height: 200px;
    font-size: 3rem;
    text-align: center;
    box-shadow: 0 0 8px #fff;
    -webkit-box-shadow: 0 0 8px #fff;
    -webkit-box-reflect: below 10px
        linear-gradient(transparent, transparent, #0005);
}
.drag img:hover {
    -webkit-box-shadow: 0 0 15px #fffd;
    box-shadow: 0 0 15px #fffd;
    -webkit-box-reflect: below 10px
        linear-gradient(transparent, transparent, #0007);
}
.drag p {
    position: absolute;
    inset-block-start: 100%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    -webkit-transform: translate(-50%, -50%) rotate(90deg);
    -moz-transform: translate(-50%, -50%) rotate(90deg);
    -ms-transform: translate(-50%, -50%) rotate(90deg);
    -o-transform: translate(-50%, -50%) rotate(90deg);
    color: #fff;
}
.ground {
    inline-size: 900px;
    block-size: 900px;
    position: absolute;
    inset-block-start: 145%;
    inset-inline-start: 50%;
    transform: translate(-50%, -50%) rotateX(90deg);
    -webkit-transform: translate(-50%, -50%) rotateX(90deg);
    -moz-transform: translate(-50%, -50%) rotateX(90deg);
    -ms-transform: translate(-50%, -50%) rotateX(90deg);
    -o-transform: translate(-50%, -50%) rotateX(90deg);
    background: -webkit-radial-gradient(
        center center,
        farthest-side,
        #9993,
        transparent
    );
}
#music-container {
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 0;
}

@-webkit-keyframes spin {
    from {
        transform: rotateY(0);
        -webkit-transform: rotateY(0);
        -moz-transform: rotateY(0);
        -ms-transform: rotateY(0);
        -o-transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotateY(0);
        -webkit-transform: rotateY(0);
        -moz-transform: rotateY(0);
        -ms-transform: rotateY(0);
        -o-transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
    }
}

@-webkit-keyframes spinRevert {
    from {
        transform: rotateY(0);
        -webkit-transform: rotateY(0);
        -moz-transform: rotateY(0);
        -ms-transform: rotateY(0);
        -o-transform: rotateY(0);
    }
    to {
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
    }
}

@keyframes spinRevert {
    from {
        transform: rotateY(360deg);
        -webkit-transform: rotateY(360deg);
        -moz-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        -o-transform: rotateY(360deg);
    }
    to {
        transform: rotateY(0);
        -webkit-transform: rotateY(0);
        -moz-transform: rotateY(0);
        -ms-transform: rotateY(0);
        -o-transform: rotateY(0);
    }
}
